<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>KOOOZA</h1>
        <h3>楽しい講座と出会う場所</h3>
          <% unless logged_in? %>
            <%= link_to 'KOOOZAを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
          
      </div>
    </div>
  </div>
<% end %>

<%= render 'courses/courses', courses: @courses %>
