<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      目次
    </div>
    
    <div class="panel-body">
      
      <ul class="nav nav-pills nav-stacked">
        <% lessons.each do |lesson| %>

            <li><a href="#lesson-<%= lesson.major_no %>">レッスン<%= lesson.major_no %></a></li>

        <% end %>

      </ul>
    </div>
  </div>
</div>